<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1 class="text-center">New Aluno</h1>

        <%= render 'form', aluno: @aluno %>
        <br>
        <div class="offset-md-3">
            <%= link_to '', alunos_path, class: "btn btn-secondary btn-lg fa fa-undo" %>
        </div>
    </div>
</div>